body{
  color: #40514E;
  margin: 0;
  /* text-align: center; */
}

.technology-img {
  width: 6rem;
  height: 6rem;
  vertical-align: middle;
  padding-right: 5rem;
}

.xx{
  background-color: pink;
  height: 400px;
  width: 400px;

}

.yy{

  position: relative;
  background-color: yellow;
  height: 100px;
  width: 100px;
  left:50px;
}
